/* .container{
    
    background-color: aqua;
}
.table {
    width: 100%;
    max-width: 100%;
    // margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

  }
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }   */

  /* html,body { height: 100%; } */