<!-- <img src="assets\img\sasuke.jfif">
<div class="container">
  
  <table class="table table-striped table-bordered table-hover table-responsive" style="width: 200px">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody *ngFor="let books of Books">
      <tr>
        <td>{{books.name}}</td>
        <td>{{books.price}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="raw">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>
